<!--component html goes here -->
<div *ngIf="form != undefined">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <ion-list>
      <div *ngFor="let question of questions" class="form-row">
        <app-question [question]="question" [form]="form"></app-question>
      </div>

      <div class="form-row">
        <button ion-button block type="submit" [disabled]="!form.valid">Save</button>
      </div>
    </ion-list>
  </form>

  <!-- only for testing submti
  <div *ngIf="payLoad" class="form-row">
    <strong>Se han guardado los siguientes valores</strong>
    <br>{{payLoad}}
  </div>
  -->
</div>
