<!--component html goes here -->
<div *ngIf="form != undefined">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let question of questions" col-lg-6 col-12>

          <app-question [question]="question" [form]="form"></app-question>
        </ion-col>
      </ion-row>

      <ion-row class="form-row">
        <button ion-button block type="submit" [disabled]="!form.valid">Guardar Entrada</button>
      </ion-row>
    </ion-grid>
  </form>

  <!-- only for testing submti
  <div *ngIf="payLoad" class="form-row">
    <strong>Se han guardado los siguientes valores</strong>
    <br>{{payLoad | json}}
  </div> -->
 
</div>
