<!--component html goes here -->
<div [formGroup]="form">

  <div [ngSwitch]="question.controlType">

    <ion-item *ngSwitchCase="'textbox'">
      <ion-label>{{question.label}}</ion-label>
      <ion-input [formControlName]="question.key" [id]="question.key" [type]="question.type" value=""></ion-input>
    </ion-item>


    <ion-item *ngSwitchCase="'dropdown'">
      <ion-label>{{question.label}}</ion-label>
      <ion-select [id]="question.key" [formControlName]="question.key">
        <ion-option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngSwitchCase="'checkbox'">
      <ion-label>{{question.label}}</ion-label>
      <ion-checkbox [id]="question.key" [formControlName]="question.key" [checked]="question.value"></ion-checkbox>
    </ion-item>

  </div>

  <div class="errorMessage" *ngIf="!isValid">{{question.label}} es requerido</div>
</div>
